body{
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}
.topo {
    font-size: 56px;
    color: #75B79E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.jogo {
    display: flex;
    justify-content: center;
    margin: 0 10vw;
    flex-wrap: wrap;
}
.jogo img {
    height: 100px;
    width: 100px;
}
.carta {
    width: 117px;
    height: 146px;
    margin: 17px;
    border-radius: 5px;
    background-color: rgba(167, 233, 175, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}