body{
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}
.relogio{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    background-color: crimson;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topo {
    font-size: 56px;
    color: #75B79E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.jogo {
    display: flex;
    justify-content: center;
    margin: 0 10vw;
    flex-wrap: wrap;
}
.jogo img {
    height: 100px;
    width: 100px;
    position: absolute;
 
}
.carta {
    width: 117px;
    height: 146px;
    margin: 17px;
    border-radius: 5px;
    background-color: rgba(167, 233, 175, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform .8s;   
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}
 
 .back{
    opacity: 0;
    transition: opacity .2s step-end;        
}
.front {
    opacity: 0;
    transition: opacity .2s step-end;   
}

.show {
    opacity: 1; 
    transition: opacity .2s step-end;    
} 

.flip {
    transform: rotateY(180deg);  
}
.desflip {
    transform: rotateY(0deg);
}
@media (max-width: 614px){
.topo{
    font-size: 36px;
    text-align: center;
}